<%= form_for(@paramclav) do |f| %>

  <div class="field">
    <%= f.label :tipoclave %><br>
    <%= f.collection_select :tipoclave, Paramclav.all, :id, :tipoclave, {prompt: 'Seleccione tipo'} %>
  </div>

  <div class="field">
    <%= f.label :maxlongitud %><br>
    <%= f.number_field :maxlongitud, id: "maxlongitud" %>
  </div>
  <div class="field">
    <%= f.label :minlongitud %><br>
    <%= f.number_field :minlongitud, id: "minlongitud"  %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
