<p id="notice"><%= notice %></p>

<p>
  <strong>Tipoclave:</strong>
  <%= @paramclav.tipoclave %>
</p>

<p>
  <strong>Maxlongitud:</strong>
  <%= @paramclav.maxlongitud %>
</p>

<p>
  <strong>Minlongitud:</strong>
  <%= @paramclav.minlongitud %>
</p>

<p>
  <strong>Maxcaracteres:</strong>
  <%= @paramclav.maxcaracteres %>
</p>

<p>
  <strong>Mincaracteres:</strong>
  <%= @paramclav.mincaracteres %>
</p>

<p>
  <strong>Maxalfanumerico:</strong>
  <%= @paramclav.maxalfanumerico %>
</p>

<p>
  <strong>Minalfanumerico:</strong>
  <%= @paramclav.minalfanumerico %>
</p>

<p>
  <strong>Maxnumerico:</strong>
  <%= @paramclav.maxnumerico %>
</p>

<p>
  <strong>Minnumerico:</strong>
  <%= @paramclav.minnumerico %>
</p>

<p>
  <strong>Maxcapital:</strong>
  <%= @paramclav.maxcapital %>
</p>

<p>
  <strong>Mincapital:</strong>
  <%= @paramclav.mincapital %>
</p>

<p>
  <strong>Numeroreintentos:</strong>
  <%= @paramclav.numeroreintentos %>
</p>

<p>
  <strong>Diascambios:</strong>
  <%= @paramclav.diascambios %>
</p>

<%= link_to 'Edit', edit_paramclav_path(@paramclav) %> |
<%= link_to 'Back', paramclavs_path %>
