<header><h2><b><i>Tablero de comando</i></b></h2></header>

 <% 
 pen = 0
 ap = 0
 re = 0
 as = 0
 @requests.each do |request|
 	if request.estado == 0
 		pen = pen+1
 	elsif request. estado == 1
 		as = as+1
 	elsif request. estado == 2
 		ap = ap+1
 	elsif request. estado == 3
 		re = re+1
 	end
 		
 end 
 %>
<script type="text/javascript" charset="utf-8">
$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart',
 			plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
    },
    title: { text: 'General',
            align: "left" },
    subtitle: { text: 'Casos totales: <%= @requests.count %>',
            align: "right"},
    series: [{
            name: 'Solicitudes',
            colorByPoint: true,
            data: [{
                name: 'Pendientes',
                y: <%= pen %>
            }, {
                name: 'Asignadas',
                y: <%= as %>
            }, {
                name: 'Aprobadas',
                y: <%= ap %>
            }, {
                name: 'Rechazadas',
                y: <%= re %>
            }]
        }]
  });
});
</script>
<center><div id="orders_chart" style="width: 560px; height: 300px;"></div>
<!-- Por usuario -->
<% 
userp = 0
i = 0 
todase = 0
 @requests.each do |request|
    if request.idus == current_user.id
        if request.estado == 1
            userp = userp+1
        end
    end
    i = i+1
 end
x = pen*100/i
z = userp*100/i
%>
<div class="estau">
  <h3>Usuario</h3>

    Pendientes: <%= pen %>
    <div class="progress active">
        <div class="progress-bar xd" style="width: <%= x %>%"><%= x %>%</div>
    </div>
    Mis peticiones: <%= userp %>
    <div class="progress active">
        <div class="progress-bar xd" style="width: <%= z %>%"><%= z %>%</div>
    </div>
</div>
</center>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
