<p id="notice"><%= notice %></p>

<p>
  <strong>Tipoclave:</strong>
  <%= @parametroclafe.tipoclave %>
</p>

<p>
  <strong>Maxlongitud:</strong>
  <%= @parametroclafe.maxlongitud %>
</p>

<p>
  <strong>Minlongitud:</strong>
  <%= @parametroclafe.minlongitud %>
</p>

<p>
  <strong>Maxcaracteres:</strong>
  <%= @parametroclafe.maxcaracteres %>
</p>

<p>
  <strong>Mincaracteres:</strong>
  <%= @parametroclafe.mincaracteres %>
</p>

<p>
  <strong>Maxalfanumerico:</strong>
  <%= @parametroclafe.maxalfanumerico %>
</p>

<p>
  <strong>Minalfanumerico:</strong>
  <%= @parametroclafe.minalfanumerico %>
</p>

<p>
  <strong>Maxnumerico:</strong>
  <%= @parametroclafe.maxnumerico %>
</p>

<p>
  <strong>Minnumerico:</strong>
  <%= @parametroclafe.minnumerico %>
</p>

<p>
  <strong>Maxcapital:</strong>
  <%= @parametroclafe.maxcapital %>
</p>

<p>
  <strong>Mincapital:</strong>
  <%= @parametroclafe.mincapital %>
</p>

<p>
  <strong>Numeroreintentos:</strong>
  <%= @parametroclafe.numeroreintentos %>
</p>

<p>
  <strong>Diascambios:</strong>
  <%= @parametroclafe.diascambios %>
</p>

<%= link_to 'Edit', edit_parametroclafe_path(@parametroclafe) %> |
<%= link_to 'Back', parametroclaves_path %>
