<section id="widget-grid" class="">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Lista de usuarios</h2>
        </header>
        <div>
          <div class="jarviswidget-editbox">
          </div>
            <div class="widget-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th colspan="2">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @registros.each do |registro| %>
                      <tr>
                        <td><%= registro.email %></td>
                        <td>
                          <button type="button" class="btn btn-warning btn-sm bg-color-yellow" data-toggle="modal" data-target="#editar_<%= registro.id %>">
                                Edit
                          </button>
                          <button type="button" class="btn btn-danger btn-sm bg-color-red" data-toggle="modal" data-target="#eliminar<%= registro.id%>">
                              Eliminar
                          </button>
                        </td>
                        <div class="modal fade" id="eliminar<%= registro.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel"><strong>Eliminar usuario</strong></h4>
                              </div>
                              <div class="modal-body">
                                <h4>Eliminar el usuario  <i><%= registro.email %></i>, estas seguro?</h4>  
                                <div class="modal-footer">
                                  <%= button_to 'Eliminar', registro, method: :delete, class: "btn btn-danger btn-sm bg-color-red" %>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="editar_<%= registro.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel"><strong>Editar usuario</strong></h4>
                              </div>
                              <div class="modal-body">
                                <%= form_for(registro, :method => :put, remote: true) do |f| %>
                                <div class="field">
                                  <%= f.label :email %><br>
                                  <%= f.text_field :email, class: "form-control email"  %>
                                </div>
                                <div class="modal-footer">
                                  <%= submit_tag "Editar", class: "btn btn-warning btn-sm bg-color-yellow" %>
                                <% end %>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </article>
  </div>
</section>

<br>
<button type="button" class="btn btn-primary btn-sm bg-color-blueDark" data-toggle="modal" data-target="#nuevo">
Nuevo usuario
</button>
<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><strong>Crear usuario</strong></h4>
        </div>
        <div class="modal-body">
        <%= form_for(@registro, remote: true) do |f| %>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: "form-control email"  %>
          </div>
        <div class="modal-footer">
           <%= submit_tag "Crear", class: "btn btn-primary bg-color-blueDark" %>
        <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>